__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.env
.env.*
.venv
venv/
ENV/
env/
.git
.gitignore
.dockerignore
Dockerfile
.pytest_cache
.coverage
htmlcov/
.DS_Store
*.sqlite
*.db
uploads/*
!uploads/.gitkeep
instance/
.mypy_cache/
.dmypy.json
dmypy.json
*.log